/*
Arquivo CSS para o formulário de Login Padrão da Prefeitura Municipal 
de Francisco Morato.
*/
/* 
    Criado em         : 19/07/2018, 13:33:40
    Author            : Jhonatan Colina
    Ultima Alteração  : 19/07/2018, 13:50:40
*/


.bodyLoginPMFM{
  background: url('../images/bg.jpg');
  font-family: 'Open Sans', sans-serif;
  margin: 0; 
  height: auto
}

.inputLoginPMFM{
  padding: 19px 8px !important; 
  font-size: 12px !important
}

.containerLoginPMFM{
  top: 50%
}

.rowLoginPMFM{
  margin-top: 14%; 
  margin-left: 30%
}

@media only screen and (max-width: 600px) {
  .rowLoginPMFM {
    margin-top: 14%; 
    margin-left: 0%;
  }
}

.panelLoginPMFM{
  border-color: transparent; 
  margin-bottom: 10px
}

.panelHeadingPMFM{
  text-align: center; 
  border-bottom: 1px solid #2082D5 !important; 
  border-top: 1px solid #555 !important; 
  border-left: 1px solid #555 !important; 
  border-right: 1px solid #555 !important; 
  background: #555 !important; 
  color: #f5f5f5 !important; 
  padding: 11px
}

.panelHeadingPMFM > h2{
  color: #FFF ;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3) !important; 
  margin-top: -5px; 
  margin-bottom: -5px;
  font-family: 'Raleway', Helvetica, sans-serif !important; 
  font-weight: 200 !important
}

.fraseLoginPMFM{
  color: #555 !important; 
  font-size: 16px !important;
  font-weight: 200 !important
}

#loginInvalido{
  margin-top: 3%;
  color: red;
}

.botaoLoginPMFM{
  padding-right: 19px; 
  padding-left: 19px; 
  padding-top: 8px;
  padding-bottom: 8px
}

.rodapeLoginPMFM{
  color: #C9D4F6 !important; 
  font-size: 12px !important
}

.campoInvalido{
  text-align: right;
  margin-bottom: 0px;
  color: #DD161E;
  font-size: 10px;
}