html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  background: transparent;
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  background: transparent;

  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  border: 0;
  border-top: 1px solid #ccc;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
body {
  background-color: #fff;

  padding: 0;
}
header {
  width: 100%;
  font-family: "freight-sans-pro", sans-serif;
  background-color: #e8e8e8;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.01, #ededed), color-stop(1, #f4f4f4));
  background: -webkit-linear-gradient(top, #ededed 1%, #f4f4f4 100%);
  background: -moz-linear-gradient(top, #ededed 1%, #f4f4f4 100%);
  background: -o-linear-gradient(top, #ededed 1%, #f4f4f4 100%);
  background: -ms-linear-gradient(top, #ededed 1%, #f4f4f4 100%);
  background: linear-gradient(top, #ededed 1%, #f4f4f4 100%);
  padding: 1em 0 0.5em 0;
}
header h1 {
  margin: 0.3em;
  text-align: center;
  color: #252525;
  font-weight: 100;
}
header h1:after {
  display: block;
  content: "~";
  line-height: 0.08em;
}
header p {
  text-align: center;
  line-height: 1.5em;
  padding: 0 5px;
  margin: 2em 0;
}
header p strong {
}
header p:nth-child(2) a {
  color: #fe3a1a;
  font-weight: bold;
  text-decoration: none;
}
header p:last-child {
  color: #666;

}
header p:last-child a {
  color: #666;
  text-decoration: none;
}
header div {
  width: 960px;
  margin: 2em auto 2em auto;
}
header div.show {
  display: block;
}
section {
  text-align: left;
  min-width: 490px;
  width: 490px;
  margin: 0 auto;
  padding: 1em;
}
section p {

  margin: 1.5em;
  line-height: 1.3em;
  font-family: "freight-text-pro", sans-serif;
  letter-spacing: 1px;
}
section p.right {
  text-align: right;
}
section h2 {
  width: 100%;
  text-align: center;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  font-family: "maryam", cursive;
  font-weight: 100;

}
@media screen and (max-width: 480px) {
  header div,
  header iframe {
    display: none;
    width: 380px !important;
    height: 213px !important;
  }
  section {
    max-width: 280px;
    min-width: 280px;
    padding: 0em;
  }
  section p {
    margin: 1.5em 0 1.5em 0;
    width: 100%;

  }
  section h2 {
    width: 100%;

  }
}
